
{{#if loggedIn}}
<div id="add-container">
<h2 id="add-form-title">Create New Post:</h2>
<form class="add-post-form">

  <div>
     <label for="add-post-title">Post Title:</label>
    <input id="add-post-title" type="text" value="{{post.title}}"/>
  </div>
  <div>
    <label for="add-post-content">Content:</label>
    <textarea id="add-post-content"></textarea>
  </div>

  <div>
    <button type="submit">Create</button>
  </div>
</form>
</div>
{{/if }}
