{{#each allUserPosts as |post|}}

<div class="blog-post-container">
    <h2>
        <a class="post-title" href="/post/{{id}}">{{post.post_title}}</a>
        <p>Posted by: {{post.User.username}}</p>
    </h2>
    <p>{{post.post_content}}</p>
</div>

{{/each}}
<button type="submit" class="add-post-btn"><a href="/add-post">Create Post</a></button>
