<h2>Edit Post</h2>

<form class="edit-post-form">
    <div>
        <input id="edit-post-title" type="text" value="{{post.title}}"/>
    </div>
    <div>
        <textarea id="edit-post-content">{{post.post_content}}</textarea>
    </div>
    <div>
        Posted by {{post.username}}
    </div>
</form>