<h2>Add a Comment</h2>

{{!-- <form class="edit-post-form">
    <div>
        <input id="edit-post-title" type="text" value="{{post.title}}"/>
    </div>
    <div>
        <textarea id="edit-post-content">{{post.post_content}}</textarea>
    </div>
    <div>
        Posted by {{post.username}}
    </div>
</form> --}}

  <form class="new-comment-form">
        <div id="comment-header">
        <label for="comment-text">Comment:</label>
        </div>
        <textarea id="new-comment-content" name="comment-text"></textarea>
        <button id="new-post-submit" type="submit">Submit</button>
    </form>