<form class="user-login-form">
  <h3 id="main-title-login">Login</h3>
  <div>
    <label for="login-username">Username:</label>
    <input type="text" id="login-username"/>
  </div>
  <div>
    <label for="login-password">Password:</label>
    <input type="password" id="login-password" />
  </div>
  <div>
    <button id="login-submit" type="submit">Login!</button>
  </div>
</form>

<a id="alt-signup" href="/signup">Sign up instead.</a>

<script src="/javascript/login.js"></script>