<form class="user-signup-form">
  <h3 id="main-title-signup">Sign Up</h3>
  <div>
    <label for="signup-username">Username:</label>
    <input type="text" id="signup-username"/>
  </div>
  <div>
    <label for="signup-password">Password:</label>
    <input type="password" id="signup-password" />
  </div>
  <div>
    <button id="signup-submit" type="submit">Sign up!</button>
  </div>
</form>

<a id="alt-login" href="/login">Login instead.</a>

<script src="/js/signup.js"></script>