:root {
    --main-black: rgba(0, 0, 0, 0.881);
    --main-grey: rgb(176, 171, 171);
    --main-green: rgb(191, 218, 191);
}

#main-header {
    background-color: var(--main-black);
    padding-left: 60px;
    padding-bottom: 10px;
}

body {
    background-color: var(--main-green);
}

.main-nav {
    padding: 20px;
}

.main-nav a {
    text-decoration: none;
    color: var(--main-green);
    font-size: 35px;
    padding: 20px 50px;

}

#main-title {
    padding: 10px;
    background-color: var(--main-green);
    font-size: 50px;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
    height: 50px;
    width: 330px;
    text-align: center;
    box-shadow: 5px 5px 0px rgb(175, 171, 171);
}




/* LOGIN PAGE */
.user-login-form {
    border: 5px solid black;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}


#main-title-login {
color: var(--main-green);
font-size: 25px;
background-color: var(--main-black);
margin-top: 0px;
padding: 10px 15px;

}

#alt-signup {
    text-decoration: none;
    color: var(--main-black);
    font-size: 20px;
    margin-left: 10px;
}

#login-submit {
    background-color: rgb(92, 90, 90);
    color: lightgray;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;

}

.user-login-form div {
    margin: 10px;

}

/* SIGNUP PAGE */

.user-signup-form {
    border: 5px solid black;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}


#main-title-signup {
color: var(--main-green);
font-size: 25px;
background-color: var(--main-black);
margin-top: 0px;
padding: 10px 15px;

}

#alt-login {
    text-decoration: none;
    color: var(--main-black);
    font-size: 20px;
    margin-left: 10px;
}

#signup-submit {
    background-color: rgb(92, 90, 90);
    color: lightgray;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;

}

.user-signup-form div {
    margin: 10px;

}


/* CREATE POST PAGE */

#add-container {
    margin: 30px 100px;
}

.add-post-form {
    border: 2px solid black;
    padding-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#add-form-title {
    padding: 10px;
    background-color: var(--main-black);
    color: var(--main-green);
    margin: 0;
}

.add-post-form textarea, .add-post-form input {
    margin: 20px;
    height: 60px;
    width: 1330px;
}

.add-post-form label {
    font-size: 20px;
    display: block;
    margin-top: 10px;
    margin-left: 20px;

}

.add-post-form button {
    background-color: rgb(97, 94, 94);
    color: var(--main-green);
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 1330px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

/* Post containers */

.post-container {
    border: 2px solid black;
    margin: 80px;

}

.post-heading {
    background-color: var(--main-black);
    color: var(--main-green);
    padding: 10px;
    
}

#post-title {
    font-weight: bold;
    font-size: 25px;
    color: inherit;
    text-decoration: none;
}

.post-body {
    margin: 20px;
}

.comments {
    margin: 20px;
    padding: 20px;
}

/* Dashboard styling */

.add-post-btn {
    height: 60px;
    width: 180px;
    background-color: var(--main-black);
    color: inherit;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
}

.add-post-btn a {
    color: inherit;;
    text-decoration: none;
}

#flexbox-add-btn {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 250px;
}